@import '~bootstrap/scss/bootstrap';

.focus-in-contract {
    -webkit-animation: focus-in-contract 1.2s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation: focus-in-contract 1.2s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@-webkit-keyframes focus-in-contract {
    0% {
        letter-spacing: 1em;
        -webkit-filter: blur(12px);
        filter: blur(12px);
        opacity: 0;
    }

    100% {
        -webkit-filter: blur(0px);
        filter: blur(0px);
        opacity: 1;
    }
}

@keyframes focus-in-contract {
    0% {
        letter-spacing: 1em;
        -webkit-filter: blur(12px);
        filter: blur(12px);
        opacity: 0;
    }

    100% {
        -webkit-filter: blur(0px);
        filter: blur(0px);
        opacity: 1;
    }
}



// Footer

footer {
    background-color: black;

    p {
        color: lightgray;
    }

    a {
        text-decoration: none;
        color: white;

        &:hover {
            color: #DC3445;
        }
    }

    ul {
        display: flex;
        list-style-type: none;
        margin-left: auto;

        li {
            padding: 0 4px;
        }
    }
}

.navs{
    border-bottom: 1px solid grey;
    padding: 1rem 0;
    margin-bottom: 1rem;
    a{
        text-decoration: none;
        color: gray;
        font-weight: bold;
        margin-right: 1rem;
    }
}

form .card {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    border-radius: 30px 30px;
    background: linear-gradient(111.5deg, rgb(4, 78, 116) 11.1%,rgb(187, 232, 255) 107.5%);
    border: none;
    font-family: 'Urbanist', sans-serif;

        label {
            font-weight: bold;
            color: #fff;
        }

        a,
        button {
            box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
        }
}
.line{
    border-bottom: 1px solid grey;
    padding: 1rem 0;
    margin-bottom: 2rem;
}